body {
  background-color: rgb(109, 48, 171);
  color: whitesmoke;
}

.flex-div {
  display: flex;
  margin-top: 5%;
  width: 85%;
  height: 200px;
  /* background-color: rgb(238, 107, 107); */
  border-radius: .3em;
  margin-left: 15%;
  overflow: hidden;
}

.img-avatr {
  width: 25%;
  padding: 1%;
  /* border-radius: .5em; */
  overflow: hidden;
}

.heading {
  text-align: center;
  color: whitesmoke;
  margin-top: 1%;
}

.content-repos {
  margin-left: 5%;
  margin-top: 2%;
}

.star-img {
  width: 3%;
}

.star-cont {
  padding: 1%;
  padding-right: 8%;
  padding-left: 5%;
  border: 2px solid white;
  width: 20px;
}

.issue-con {
  margin-left: 5%;
  padding: 1%;
  padding-right: 10%;
  padding-left: 10%;
  border: 2px solid white;
  width: 20px;
}

.star-issue {
  margin-top: 4%;
  /* display: flex; */
  width: 100%;
  position: relative;
}

.com-del {
  margin-left: 80%;
  color: black;
  background-color: white;
  border-radius: .3em;
  width: 8%;
  padding: 10px;
  margin-top: 1%
}

.pagination-con {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  place-content: center;

}

.progess-cont {
  display: flex;
  place-content: center;
  margin-top: 20%;
  margin-bottom: 20%;
}

.updated-by {
  margin-left: 1%;
  font-size: smaller;
}

@media only screen and (max-width: 900px) {
  .flex-div {
    display: flex;
    width: 90%;
    height: 330px;
    margin-left: 5%;
  }

  .img-avatr {
    /* background-color: whitesmoke; */
    width: 60%;
    padding: 1%;
  }

  .pagination-con {
    margin-top: 5%;
    margin-bottom: 10%;
    display: flex;
    place-content: center;

  }

  .star-issue {
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
  }

  .star-img {
    width: 25%;
  }

  .star-cont {
    padding: 1%;
    padding-left: 5%;
    border: 2px solid white;
    width: 100px;
  }

  .issue-con {
    margin-top: 1%;
    margin-left: -.1%;
    padding: 1%;
    padding-right: 5%;
    padding-left: 15%;
    border: 2px solid white;
    width: 100px;
  }
  .com-del{
    margin-left: 70%;
    width: 20%;
  }
}

.imgs {
  position: absolute;
  bottom: -1.6em;
  right: -55%;
}

.box {
  --border-size: 3px;
  --border-angle: 0turn;
  background-image: conic-gradient(from var(--border-angle),
      rgb(109, 48, 171),
      rgb(109, 48, 171) 50%,
      rgb(109, 48, 171)),
    conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
  background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;

  animation: bg-spin 3s linear infinite;

  &:hover {
    animation-play-state: paused;
  }
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}